.navleftmob,
.navrightmob,
.logomob {
  display: none;
}

.header,
.navleft,
.logo,
.navright {
  display: flex;
  margin: auto;
}

.header {
  border-bottom: 2px solid black;
}

.navleft {
  justify-content: flex-end;
  width: calc(40%);
}

.logo {
  justify-content: center;
  width: calc(20%);
}

.navright {
  justify-content: flex-start;
  width: calc(40%);
  gap: 15px;
}

@media screen and (max-width: 680px) {
  .navleft,
  .navright {
    display: none;
  }

  .header,
  .navleftmob,
  .logo,
  .navrightmob {
    display: flex;
    margin: auto;
  }

  .navleftmob,
  .navrightmob {
    align-items: center;
    justify-content: center;
    width: calc(25%);
  }

  .menu {
    position: absolute;
    overflow: visible;
  }

  .logo {
    justify-content: center;
    width: calc(50%);
  }
}
