.navrightmob,
.logomob,
.github {
  display: none;
}

.header,
.logo,
.navright {
  display: flex;
  margin: auto;
}

.header {
  border-bottom: 2px solid black;
}

.logo {
  justify-content: center;
  width: calc(30%);
}

.navright {
  justify-content: center;
  width: calc(65%);
  gap: 10px;
}

@media screen and (max-width: 730px) {
  .navright {
    display: none;
  }

  .header,
  .logo,
  .github,
  .navrightmob {
    display: flex;
    margin: auto;
  }

  .github {
    width: calc(20%);
    /* align-items: center; */
    justify-content: center;
  }

  .logo {
    width: calc(60%);
    justify-content: center;
  }

  .navrightmob {
    align-items: center;
    justify-content: center;
    width: calc(20%);
  }

  .menu {
    position: absolute;
    overflow: visible;
  }
}
