@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.header {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.card {
  width: auto;
  height: auto;
  color: #fff;
  background: #111;
  border-radius: 10px;
  padding: 4px 10px;
}
